* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  padding-top: 80px;
}

li {
  width: 1500px;
  padding: 10px 0;
}

audio {
  width: 100%;
}